:root {
  --red-violet: #DA18A3;
  --red-linear: #EB1484;
  --gradient-red-linear: linear-gradient(101deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
  --dark: #24252D;
  --white: #fff;
  --gray-1: #E3E1E3;
  --gray-2: #888888;
  --gray-3: #4F4F4F;
  --black-1: #2D2E36;
  --black-2: #1B1A21;
  --black-3: #E3E1E3;
  --black-4: #24252D;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: auto;
  height: 72px;
  border-bottom: 1px solid var(--gray-1);
  padding: 0 10px;
  z-index: 999;
  background: var(--white);

  .search-input {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      height: 40px;
      border: 1px solid var(--gray-1);
      border-radius: 10px;
      padding: 0 32px 0 47px;
      outline: none;
      color: var(--gray-2);
    }

    svg {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--gray-2);
    }
  }

  .search-input.active {
    opacity: 0;
  }
  .menu_burger {
    svg {
      color: var(--gray-3);
    }
  }
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding-top: 87px;
  width: 100%;
  height: 100vh;
  z-index: 998;
  background: var(--white);

  nav {
    padding-left: 17px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      li {
        a {
          color: var(--black-1);
        }
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top: 1px solid var(--gray-1);
    border-bottom: none;
    padding: 20px 0;

    .create {
      background: var(--gradient-red-linear);
      color: var(--white);
      border-radius: 10px;
    }

    .connect {
      border: 1px solid var(--red-linear);
      color: var(--red-violet);
      border-radius: 10px;
    }
  }

  nav.active+.menu_burger {
    display: none;
  }
}

section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 270px;
  padding-bottom: 40px;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 143px;
    border-radius: 25px;
    padding: 0 10%;
    background:
      radial-gradient(100px circle at 90% 85%, rgba(255, 255, 255, 0.20) 50%, #0000 50.2%),
      radial-gradient(100px circle at 0% 0%, rgba(255, 255, 255, 0.20) 50%, #0000 50.2%),
      var(--gradient-red-linear);

    h1 {
      color: var(--white);
      font-family: GothamPro;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 700;
    }
  }
}

section.top-sellers {
  margin-bottom: 40px;

  .ranks {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    .seller {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: center;
      flex: 0 0 auto;
      width: 130px;
      height: 165px;
      border: 1px solid var(--gray-1);
      border-radius: 20px;
      padding: 26px 0 8px 0;

      .ranking {
        position: absolute;
        left: 10px;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        text-align: center;
        width: 24px;
        height: 24px;
        background: var(--red-violet);
        border-radius: 50%;
      }

      img {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        object-fit: cover;
      }

      .price {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
  }

  .ranks::-webkit-scrollbar {
    display: none;
  }
}

section.hot-bids {
  margin-bottom: 40px;

  .bids {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .bid {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 145px;
      height: 212px;
      padding: 12px 7px 17px 7px;
      box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.10);
      border-radius: 10px;
      gap: 5px;

      .picture {
        position: relative;
        width: 130px;
        height: 140px;
        border-radius: 10px;

        img {
          position: absolute;
          object-fit: fill;
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }

      .title {
        width: 135px;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        font-weight: 600;
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .price, .like {
          display: flex;
          align-items: center;
          gap: 3px;
        }
      }
    }
  }

  .load-more {
    width: 100%;
    margin-top: 40px;
    border: 1px solid var(--red-linear);
    background: transparent;
    border-radius: 10px;
    color: var(--red-violet);
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .contact {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 19px;

    .logo-square {
      h1 {
        display: block;
      }
    }

    form {
      position: relative;

      input {
        padding: 12px 150px 12px 16px;
        border-radius: 10px;
        background: var(--black-2);
        border: none;
        width: 100%;
        inset: unset;
        color: var(--white);
      }

      input:focus {
        outline: none;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 11px 30px;
        background: var(--gradient-red-linear);
        color: var(--white);
        border: none;
        border-radius: 10px;
      }
    }
  }

  .links {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;

    .company {
      display: flex;
      flex-direction: column;
      gap: 25px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: none;

        li {
          a {
            font-size: 16px;
            line-height: 26px;
            color: var(--gray-3);
            text-decoration: none;
          }
        }
      }
    }

    .support {
      display: flex;
      flex-direction: column;
      gap: 25px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: none;

        li {
          a {
            font-size: 16px;
            line-height: 26px;
            color: var(--gray-3);
            text-decoration: none;
          }
        }
      }
    }
  }

  .divider {
    position: relative;
    height: 1px;
    background: var(--gray-1);
    width: 100vw;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 40px;

    p {
      color: var(--black-1);
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 20px;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}