@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css');

.bg-red-linear {
  background: var(--red-linear);
}

.bg-red-violet {
  background: var(--red-violet);
}

.border-red-linear {
  border: 1px solid var(--red-linear);
}

.border-red-violet {
  border: 1px solid var(--red-violet);
}

.heading-1 {
  font-size: 28px;
  font-weight: 600;
}

.heading-2 {
  font-size: 24px;
  font-weight: 600;
}

.heading-3 {
  font-size: 20px;
  font-weight: 600;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-lg {
  font-size: 16px;
  line-height: 26px;
}

.text-base {
  font-size: 14px;
  line-height: normal;
}

.text-sm {
  font-size: 12px;
  line-height: normal;
}

.text-xs {
  font-size: 10px;
  line-height: normal;
}

.text-btn {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 9px 30px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 233px;
  border-radius: 20px;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.10);
  background: var(--white);

  .img-wrapper {
    border-radius: 20px;
    width: 210px;
    height: 230px;

    image {
      border-radius: 20px;
    }
  }
}


.logo {
  display: flex;
  align-items: center;
  gap: 4px;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red-linear);
    width: 32px;
    height: 32px;
    border-radius: 10px;

    .circle {
      position: relative;
      width: 18px;
      height: 18px;
      background: var(--white);
      border-radius: 50%;

      &::before {
        content: "";
        position: absolute;
        inset: 50%;
        translate: -50% -50%;
        width: 14px;
        height: 14px;
        background: var(--red-linear);
        border-radius: 50%;
      }
    }
  }

  h1 {
    display: none;
    font-family: GothamPro;
    color: var(--black-2);
    font-size: 18px;
    font-weight: 700;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: var(--white);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: min(1440px, 100% - 10.5px);
  margin-inline: auto;
}